<div class="container" [@fadeInOut]>

<mat-card *ngFor="let product of products" (click)="toggleHide(product)" [@transformacionAnimacion]>
    <div class="details">
        <div class="info">
            <div id="nyd">
                <mat-card-subtitle>
                    {{product.title}}
                </mat-card-subtitle>
            </div>
            <div id="pyc">
                <mat-card-content>
                    Category: {{product.category}}
                </mat-card-content>
                <mat-card-content id="price">
                    $ {{product.price}}
                </mat-card-content>
            </div>
        </div>
        <img [src]="product.image" mat-card-image>
    </div>
    <mat-card-actions *ngIf="selectedProduct === product">
        <button mat-button (click)="deleteProduct(product)">Eliminar</button>
        <button mat-button [routerLink]="['/products', product.id]">Ver detalles</button>        
    </mat-card-actions>
</mat-card>

</div>
