.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

mat-form-field{
    width: 90%;
    margin: auto;
}

mat-card-actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    box-shadow: 3px 3px 5px black;
}

