<button mat-button (click)="navigateToProducts()">Volver</button>
<div class="container">
    <mat-form-field>
        <mat-label>Nombre Producto</mat-label>
        <input matInput [(ngModel)]="product.title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Precio</mat-label>
        <input matInput [(ngModel)]="product.price">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Foto Url</mat-label>
        <input matInput [(ngModel)]="product.image">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select>
            <mat-select [(ngModel)]="product.category"></mat-select>
            <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <textarea matInput [(ngModel)]="product.description"></textarea>
    </mat-form-field>
    <mat-card-actions>
        <button mat-button (click)="cancel()">CANCEL</button>
        <button mat-button (click)="saveProduct()">SAVE</button>
      </mat-card-actions>
</div>



